body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.layout {
  display: flex;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.sidebar {
  width: 160px; /* Fixed width for the sidebar */
  flex-shrink: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #d1d5dc;
  overflow: hidden; /* Prevent main area from overflowing */
}
